<!-- Search form -->
<form class="form-inline my-2 my-lg-0" [formGroup]="buscarCartaForm">
  <input class="form-control mr-sm-2" type="text" formControlName="nome" placeholder="Pesquisar" [(ngModel)]="name">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="get_carta()">Pesquisar</button>

</form>
<div class="error-messages">
  <ng-container *ngFor="let error of error_messages.nome">
    <div class="error-message"
      *ngIf="buscarCartaForm.get('nome').hasError(error.type) && (buscarCartaForm.get('nome').dirty || buscarCartaForm.get('nome').touched)">
      {{error.message}}
    </div>
  </ng-container>
</div>


<div class="container">
  <div class="row row-cols-4">
    <div *ngFor="let c of carta" class="col">
      <figure *ngFor="let i of c.card_images">
        <img src="{{i.image_url_small}}" alt="" width="168px" height="246px" *ngIf="c.card_images.length >= 1" >
      </figure>
    </div>
  </div>
</div>
